@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Playpen+Sans:wght@700;800&display=swap");
:root {
  --clr-white: #fff;
  --clr-black: #141414;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  color: #141414;
  background-color: #eee;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
img {
  display: block;
  width: 100%;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
.flex-center {
  display: flex;
  align-content: center;
  justify-content: center;
}
.section-bg {
  background: var(--clr-white);
}
.section-pd {
  padding: 3.125rem 0;
}
/* ------------- header ------------ */
header {
  background-color: var(--clr-white);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}
/* ------------- navbar ------------ */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*--logo--*/
.logo {
  color: #057d8b;
  font-size: 2rem;
  font-weight: 700;
  line-height: 0.8;
}
.logo span {
  display: block;
  color: #04d0e6;
  font-weight: 500;
  font-size: 0.4em;
  text-align: right;
}
/*--Toggler--*/
.nav-toggle {
  width: 30px;
  height: 30px;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  display: none;
}
.nav-toggle span,
.nav-toggle span::before,
.nav-toggle span::after {
  position: relative;
  display: block;
  background-color: #141414;
  width: 100%;
  height: 2.5px;
}
.nav-toggle span::before,
.nav-toggle span::after {
  content: "";
  width: 50%;
  position: absolute;
}
.nav-toggle span::before {
  transform: translateY(-8px);
  right: 0;
}
.nav-toggle span::after {
  transform: translateY(8px);
}
/*--Nav links--*/
.nav-links {
  gap: 3rem;
}
.nav-link {
  color: #383838;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  position: relative;
  cursor: pointer;
}
.nav-link:hover,
.nav-link.active {
  color: #057d8b;
}
.nav-link.active::before {
  transform: scaleX(1);
}
.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #057d8b;
  bottom: -7px;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 400ms ease-in-out;
}
.nav-link:hover::before {
  transform: scaleX(1);
}
